table, tr, th, td
{
    border: 2px solid purple;
    width: 30%;
    height: 50px;
}
#highlight1 td
{
background-color: rebeccapurple;
-webkit-transition: all 1s linear;
color: white;
}
#highlight2 td
{
background-color:silver;
-webkit-transition: all 1s linear;
color: white;

}
#highlight3 td
{
background-color:slateblue;
-webkit-transition: all 1s linear;
color: white;

}
th
{
    background-color: tan;
}
